div.tag {
  /* Box-model */
  margin: 0 0.21vw;
  padding: 0.21vw;
  border: 0.1vh solid turquoise;

  /* Visual */
  color: turquoise;
  background: none;
  transition: .3s ease-in-out;

  &:hover {
    /* Visual */ 
    color: black;
    background: turquoise;
    transition: .3s ease-in-out;
  }
}
