@import "../../styles/_color";

button {
  /* Box-model */
  padding: 0.42vw;
  border: 0.21vh solid turquoise;
  border-radius: 0.42vw;

  /* Visual */
  color: black;
  background: turquoise;
  transition: .3s ease-in-out;

  &:hover {
    /* Visual */ 
    cursor: pointer;
    color: black;
    background: aquamarine;
    border: 0.21vh solid turquoise;
  }
}
