/* color style guide */
$monokai-red: #f92672;
$monokai-orange: #fd971f;
$monokai-yellow: #e6db74;
$monokai-green: #a6e22e;
$monokai-blue: #66d9ef;
$monokai-purple: #ae81ff;
$monokai-white: #f8f8f2;
$monokai-grey: #75715e;
$monokai-black: #272822;
/* end of color style guide */
