@import "../../styles/color";

div.experience {
  /* Box-model */
  display: flex;
  width: 100%;
  padding: 0 2.96vh 2.96vh;

  /* Flexible Box */
  flex-direction: column;

  /* Visual */
  box-sizing: border-box;

  & > .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > .block {
      display: flex;
      flex-direction: column;
  
      & > .tags {
        display: flex;
        padding: 2vh 0;
      }
    }
  }

  & > hr {
    border-color: $monokai-grey;
    width: 100%;
  }
}
